[submodule "_pcb/libs/kiswitch"]
	path = _pcb/libs/kiswitch
	url = https://github.com/kiswitch/kiswitch.git
[submodule "_pcb/libs/PiPico"]
	path = _pcb/libs/PiPico
	url = https://github.com/ncarandini/KiCad-RP-Pico.git
